.dropdown__container
	display: none
	position: absolute
	margin-top: 10px
	background-color: rgba(#fff, 0.9)
	border-radius: 5px
	&:after
		content: ''
		position: absolute
		left: 40px
		top: -24px
		width: 7px
		height: 7px
		border: 12px solid transparent
		border-bottom: 12px solid rgba(#fff, 0.9)