.header__upper
	position: absolute
	height: 80px
	width: 100%
	border-bottom: 1px solid #E1E1E1

	&::before 
		content: ''
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		background-color: rgba(#021A2A,0.5) 
		z-index: 1
		
@import '../__logo/header__logo.sass'