.header-upper
	position: relative
	height: 80px
	width: 100%
	border-bottom: 1px solid $light-gray

	&::before 
		content: ''
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		background-color: rgba($dark-blue, 0.5) 
		z-index: 1

@import '__logo/header-upper__logo.sass'
@import '__menu/header-upper__menu.sass'
@import '__wrapper/header-upper__wrapper.sass'