.button_type_sign-in
	background-color: transparent
	border: 1px solid $light-gray
	border-radius: 10px
	padding: 8px 25px
	&:hover
		background-color: rgba($dark-blue, 0.2)
		border-color: #fff
	&:active
		background-color: rgba($dark-blue, 0.5)
	
